<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>文件上传</h3>
	<form action="/uploadFile" method="post" enctype="multipart/form-data">
		<input type="file" name="file"/><br/><br/>
		<input type="submit" value="提交">
	</form>
	<hr/>
	<form action="/uploadFiles" method="post" enctype="multipart/form-data">
		<input type="file" name="file"/><br/><br/>
		<input type="file" name="file"/><br/><br/>
		<input type="file" name="file"/><br/><br/>
		<input type="submit" value="提交">
	</form>
	<hr/>
	<h3>文件下载</h3>
	点击下载<a href="/downFile">《下载测试》</a>
	<hr/>
	<h3>文件预览</h3> <!-- 要测试预览什么类型的文件，在后台手动调整 -->
	点击预览<a href="javascript:void();" onclick="viewFileOnline()">《预览测试》</a>
</body>
<script type="text/javascript">
	function viewFileOnline(){
		window.open("/js/pdfjs/web/viewer.html?file=/preview");
	}
</script>
</html>